[package]
name = "rythm"
version = "0.0.1"
edition = "2024"


[dependencies]
rythm-engine = { path = "crates/engine" }

[features]
default = []
std = ["rythm-engine/std"]
alloc = ["rythm-engine/alloc"]
defmt = ["rythm-engine/defmt"]
log = ["rythm-engine/log"]
serde = ["rythm-engine/serde"]
